<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/CSS/style.css">
    <script src="https://kit.fontawesome.com/48d660b4b7.js" crossorigin="anonymous"></script>
    <title>Array Objects Carousel</title>
</head>

<body>

    <section class="carousel_section">
        <div id="app" class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-6 bg-light pt-3 text-center card">
                    <div class="carousel">
                        <h4 :class="i === visibleImg ? 'visible' : '' " v-for="(title,i) in games.title">
                            {{games.title[visibleImg]}}
                        </h4>
                        <p :class="i === visibleImg ? 'visible' : '' " v-for="(description,i) in games.title">
                            {{games.description[visibleImg]}}
                        </p>
                        <img :class="i === visibleImg ? 'visible' : '' " v-for="(image,i) in games.image" :src="games.image[visibleImg]" alt="">
                    </div>

                    <div class="d-flex justify-content-around">
                        <button onclick="prevFunction()" class="my-2" id="previous">
                            <i class="fa-solid fa-chevron-left px-1"></i>
                        </button>
                        <button onclick="nextFunction()" class="my-2" id="next">
                            <i class="fa-solid fa-chevron-right px-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/JS/main.js"></script>
</body>

</html>