* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
}

img {
    max-width: 100%;
    display: none;
    height: 500px;
    object-fit: contain;
    margin: auto;
}

.row {
    height: 100vh;
}

.visible {
    display: block;
}

h4,
p {
    display: none;
}

.thumb {
    width: calc(100% / 5);
    flex-wrap: wrap;
    display: block;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.active {
    border: 5px solid rgb(5, 195, 253);
    border-radius: 10px;
}

button {    
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 100%;
    text-align: center;
    
}